
.header {
  display: flex;
  justify-content: space-between;  
  align-items: center; 
  background-color: #f5f5f5;
  padding: 30px 20px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 60px;
  height: 60px;
}

.spice {
  color: #6A0DAD; 
}

.leaf {
  color: #9370DB; 
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
}

.navbar {
  display: flex;
  gap: 2em;
}

.nav {
  text-decoration: none;
  color: #4B0082; 
  font-size: 2em;
  font-weight: 600;
}

.nav:hover {
  color: #9370DB; 
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f5f5f5;
  padding: 30px 20px 15px;
  font-family: Arial, sans-serif;
  color: #4B0082; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-links, .footer-contact, .footer-social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links a,
.footer-social a {
  color: #4B0082;
  text-decoration: none;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #9370DB;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
}


.add-form {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.recepie {
  width: 500px;
  background-color: #E6E6FA; 
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
}

.recepie h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #6A0DAD; 
}

.recepie-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recepie-form label {
  font-weight: bold;
  color: #4B0082;
  margin-bottom: 5px;
}

.recepie-form input,
.recepie-form textarea {
  padding: 10px;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  font-size: 1rem;
}

.recepie-form textarea {
  height: 100px;
  resize: none; 
}

.submit-btn {
  padding: 12px;
  background-color: #6A0DAD; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: #9370DB; 
}


.show-page p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.show-page strong {
  color: #6A0DAD; 
}
